# XCode noise
build/
*.mode?v3
*.pbxuser
*.perspectivev3

# OSX noise
.DS_Store
profile

# Doxygen
html/
latex/

# shared objects
*.dylib

# vim temporary files
*~
*.swp
*.swo

# headerdoc output directories
*_h/

core/node_natives_jmx.h

JMX.xcodeproj/xcuserdata/
JMX.xcodeproj/project.xcworkspace/
